* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.12), 0 4px 20px rgba(0, 0, 0, 0.04);
  
    max-width: 400px;
    margin: 50px auto;
  }
  
  .login-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #007bff;
  }
  
  .error-message {
    font-size: 14px;
    color: red;
    text-align: center;
  }
  
  .login-button {
    padding: 10px;
    background-color: #125297;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 500px) {
    .login-container {
      width: 90%;
    }
  }
  
  .form-link {
    color: #164f8b;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
  }
  
  .forgot-password-link {
    font-size: 14px;
    font-weight: 500;
    color: #054181;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  .form-link:hover {
    text-decoration: underline;
  }
  
  .signup-text {
    display: flex;
    font-size: 14px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    color: #3b3939;
  }
  